<nz-layout class="app-layout">
  <nz-sider
    class="menu-sidebar"
    nzCollapsible
    nzWidth="256px"
    nzBreakpoint="md"
    [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null"
  >
    <div class="sidebar-logo">
      <a href="javascript:void(0);">
        <img src="assets/logo.png" alt="logo" />
        <h1>Management Console</h1>
      </a>
    </div>
    <ul
      nz-menu
      nzTheme="dark"
      nzMode="inline"
      [nzInlineCollapsed]="isCollapsed"
    >
      <li nz-submenu nzOpen nzTitle="Catalog" nzIcon="appstore">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/main/item">Items</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a>Menu Item 1</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a>Menu Item 2</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="Menu" nzIcon="menu">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a>Menu Item Other</a>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
          <i
            class="trigger"
            nz-icon
            [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
          ></i>
        </span>
        <span class="header-right">
          <a nz-dropdown [nzDropdownMenu]="menu">
            {{{{raw-helper}}}}
            <i nz-icon nzType="user"></i> {{username$ | async}}
            {{{{/raw-helper}}}}
          </a>
          <nz-dropdown-menu #menu="nzDropdownMenu">
            <ul nz-menu nzSelectable>
              <li nz-menu-item>
                <a href="javascript:void(0);" (click)="signOut()">Sign Out</a>
              </li>
            </ul>
          </nz-dropdown-menu>
        </span>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
